#main {
  overflow: hidden;
  height: 100vh;
}
#main .section .inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduce {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduce p {
  font-size: 20px;
  font-weight: 500;
}
#introduce p strong {
  display: block;
  font-size: clamp(24px, 8vw, 64px);
  font-weight: 900;
  margin-top: 20px;
}

#vision .inner {
  background-color: #fff;
}

#what .inner {
  background-color: #000;
}

#insight .inner {
  background-color: #fff;
}

#together .inner {
  background-color: #f52f23;
}

#footer .inner {
  background-color: #000;
}

#main .pagination {
  position: fixed;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  display: flex;
  flex-direction: column;
}
#main .pagination .swiper-pagination-bullet {
  margin: 20px 0;
  opacity: 1;
  position: relative;
  outline: none;
  transition: all 0.25s ease;
}
#main .pagination .swiper-pagination-bullet:last-child {
  display: none;
}
#main .pagination .swiper-pagination-bullet:hover .tooltip {
  opacity: 1;
}
#main .pagination .swiper-pagination-bullet .tooltip {
  white-space: nowrap;
  position: absolute;
  right: 20px;
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  opacity: 0;
  transition: all 0.25s ease;
}
#main .pagination .swiper-pagination-bullet-active {
  background-color: #f52f23;
}
#main .pagination .swiper-pagination-bullet-active .tooltip {
  background-color: #f52f23;
  color: #fff;
}