@import "vars";
@import "mixin";
* {
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
  outline: none;
}
body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  word-break: keep-all;
  background-color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
#header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 99;
  #logo {
    position: absolute;
    left: 50px;
    a {
      display: block;
      padding: 30px 0;
      img {
        position: absolute;
        height: 30px;
        transition: all 0.25s ease;
        &.white {
          opacity: 0;
        }
        &.color {
          opacity: 1;
        }
      }
    }
  }
  #gnb {
    color: #000;
    transition: all 0.25s ease;
    ul {
      display: flex;
      li {
        a {
          font-size: 20px;
          font-weight: 700;
          display: block;
          padding: 50px 30px;
          position: relative;
          &:hover:before {
            top: 30px;
            opacity: 1;
          }
          &:before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background-color: $red;
            border-radius: 100%;
            position: absolute;
            top: 10px;
            opacity: 0;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
  .language {
    display: flex;
    position: absolute;
    left: 250px;
    top: 40px;
    font-weight: 500;
    color: #000;
    li {
      margin: 0 10px;
    }
  }
  .btnAll {
    margin: 0 50px;
    cursor: pointer;
    span {
      display: block;
      width: 40px;
      height: 3px;
      background-color: #000;
      margin: 10px 0;
    }
  }
}
.black {
  #header {
    #logo {
      a {
        img {
          &.color {
            opacity: 0;
          }
          &.white {
            opacity: 1;
          }
        }
      }
    }
    #gnb {
      color: #fff;
    }
    .language {
      color: #fff;
    }
    .btnAll {
      span {
        background-color: #fff;
      }
    }
  }
  #main {
    .pagination {
      .swiper-pagination-bullet {
        background-color: #fff;
        color: #fff;
        .tooltip {
          background-color: #fff;
          color: #000;
        }
        &-active {
          background-color: $red;
          .tooltip {
            background-color: $red;
            color: #fff;
          }
        }
      }
    }
  }
}
.red {
  #header {
    #gnb {
      color: #fff;
    }
  }
  #main {
    .pagination {
      .swiper-pagination-bullet {
        background-color: #000;
        .tooltip {
          background-color: #fff;
          color: #000;
        }
        &-active {
          background-color: #fff;
          .tooltip {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
  }
}
